# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc
# Environment
.env.local


*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

.json
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


OUPharmacyManagementApp/.idea/
OUPharmacyManagementApp/OUPharmacyManagementApp/mainApp/__pycache__/
