@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .ou-list-item-text-container {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  }