@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .ou-list-item-text-container {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    .ou-table-truncate-text-container {
        text-align: left;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ou-error-timepicker .MuiInputLabel-root {
      color: red; /* Customize the label color */
    }
    
    .ou-error-timepicker .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
      border-color: red; /* Customize the input border color */
    }

    .ou-radio-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .ou-radio-label {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      margin: 8px 20px;
    }
    
    .ou-radio-input {
      display: none;
    }
    
    .ou-radio-custom {
      width: 120px;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    
    .ou-radio-input:checked + .ou-radio-custom {
      background-color: #1976d2;
      color: #fff;
    }
    
    .ou-radio-custom:hover {
      background-color: #f5f5f5;
    }
    
    .ou-radio-custom:hover {
      background-color: #f5f5f5;
    }
    
    .ou-radio-custom:active {
      background-color: #ddd;
    }
    .ou-selected-time {
      background-color: #1976d2;
      color: #fff;
    }
    .ou-table-cell {
      display: flex;
      align-items: flex-start; /* Aligns content to the top */
      padding: 16px; /* Adjust the padding as needed */
    }
  }